<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Guid</th>
    <th>System</th>
    <th>Process</th>
    <th>Start time</th>
    <th>Exit time</th>
    <th>Active usage (in seconds)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.guid %></td>
    <td><%= session.system_id %></td>
    <td><%= session.system_process_id %></td>
    <td><%= Time.at(session.start_time) unless session.start_time.nil? %></td>
    <td><%= Time.at(session.exit_time) unless session.exit_time.nil? %></td>
    <td><%= session.active_usage %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
